<% content_for :account_stylesheet do %>
  <%= stylesheet_link_tag "song/background" %>
<% end %>

<% content_for :account_title do %>
  <h1>创建曲谱类型</h1>
<% end %>

<% content_for :account_content do %>
  <%= render "form", song_type: @song_type %>
  <div style="position: relative;">
      <%= link_to '返回', song_types_path, class: "return-button" %>
  </div>
<% end %>

<% content_for :account_javascript do %>
  <%= javascript_include_tag "tip_default" %>
<% end %>