<p style="color: green"><%= notice %></p>

<h1>Manipulators</h1>

<div id="manipulators">
  <% @manipulators.each do |manipulator| %>
    <%= render manipulator %>
    <p>
      <%= link_to "Show this manipulator", manipulator %>
    </p>
  <% end %>
</div>

<%= link_to "New manipulator", new_manipulator_path %>
