* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    box-sizing: border-box;
    background: url(assets/account/background.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
}

.main {
    width: 1000px;
    /* margin: 0 auto; */
    background: rgba(254, 225, 159, 0.6);
    transform: translate(0,20%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main .title {
    height: 70px;
}

.main .title h1 {
    display: block;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    border-bottom: 1px solid #b09a63;
}
.main .content {
    padding-bottom: 10px;
}
.main .content form>div {
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
}

.main .content>div {
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
}

.main .content form>div .div1 {
    width: 500px;
    /* margin: 0; */
    /* margin-left: 500px; */
    float: left;
    font-weight: bold;
    line-height: 30px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}

label {
    font-weight: bold;

}

.main .content form>div .div2 {
    /* margin: 0; */
    width: 500px;
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.div2>input {
    margin: 5px 0;
}

.main .content form>div .submit-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main .content div .return-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.back-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.required {
    color: red;
    margin-right: 3px;
}

.link {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #C9C9DD;
    font-size: 15px;
    padding: 0 10px;
    text-align: center;
    background-color: #2C2120;
}

.link-title {
    color: #EBC26E;
    background-color: #3d3433;
}

.link:hover {
    color: #EBC26E;
    background-color: #3d3433;
}
.nav {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}