<h1>Editing manipulator</h1>

<%= render "form", manipulator: @manipulator %>

<br>

<div>
  <%= link_to "Show this manipulator", @manipulator %> |
  <%= link_to "Back to manipulators", manipulators_path %>
</div>
