.form {
    padding-bottom: 10px;
}

.input-container {
    width: 100%;
    margin-top: 10px;
}

.input-container .form-header {
    text-align: right;
    display: inline-block;
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
    float: left;
}

.input-container .form-content {
    display: inline-block;
    padding-left: 10px;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

textarea {
    height: 50px;
}

div .submit1 {
    position: relative;
    font-size: 17px;
    color: black;
    border: 1px solid #b09a63;
    margin-top: 10px;
    padding: 2px 5px;
    background: rgba(0, 0, 0, 0.0);
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

div .return-button {
    position: relative;
    font-size: 17px;
    color: black;
    border: 1px solid #b09a63;
    padding: 2px 5px;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(0, 0, 0, 0.0);
}

.required {
    color: red;
    margin-right: 3px;
}