<h1>Editing song type</h1>

<%= render "form", song_type: @song_type %>

<br>

<div>
  <%= link_to "Show this song type", @song_type %> |
  <%= link_to "Back to song types", song_types_path %>
</div>
